* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.4s;
}

/*tambahan*/
header.sticky {
  background: var(--bg-color);
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
  color: var(--text-color);
}

.sticky .navbar a {
  color: var(--text-color);
}

.logo {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bg-color);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

#menu-icon {
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 80px 18%;
}

.beranda {
  position: relative;
  width: 100%;
  height: 120vh;
  background: url("images/merapi.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

/*swipe slider*/
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto; /* Tambahkan ini untuk memusatkan slider di tengah */
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  transition: 2s; /* Pindahkan ini ke sini untuk efek transisi */
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

/* Posisi awal di tengah */
.slide.first {
  margin-left: -20%; /* Sesuaikan nilai ini agar slider terletak di tengah */
}

.slide img {
  width: 800px;
  height: 500px;
}

/*Services*/
header.sticky {
  background: var(--bg-color);
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
  color: var(--text-color);
}

.sticky .navbar a {
  color: var(--text-color);
}

.text h2 {
  font-size: var(--h2-font);
  line-height: 1.1;
}

.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.container-box {
  background: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 4px;
  transition: all 1s ease 0s;
  cursor: pointer;
}

.container-img img {
  height: 85px;
  width: 85px;
  padding: 15px;
  background: var(--bg-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.container-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.container-box p {
  font-size: 15px;
  color: var(--second-color);
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

/*bagian destinasi*/
.destinasi2{
  background: url("images/bgdestinasi.png");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.title {
  text-align: center;
  line-height: 1.1;
  margin-bottom: 20px;
  color: white;
  margin-top: 40px;
}

.filter_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #f0eded;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.active {
  background: #40d3dc;
  color: #f0eded;
}

.destination-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  grid-gap: 2rem;
  margin-top: 5rem;
}

.col-content {
  position: relative;
}

.col-content.hide {
  display: none;
}

.col-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: all 0.3s cubic-bezier(0.495, 0.05, 0.55, 0.95);
  will-change: filter;
}

.col-content h5 {
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  color: var(--bg-color);
  left: 15px;
  bottom: 60px;
}

.col-content p {
  position: absolute;
  font-size: 15px;
  color: var(--bg-color);
  left: 15px;
  bottom: 30px;
  letter-spacing: 2px;
}

.col-content img:hover {
  filter: brightness(100%) hue-rotate(45deg);
  transform: scale(1.04);
  cursor: pointer;
}

/*bagian tentang*/
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.4s;
}

nav .logo {
  width: 60px;
  margin: 2vh;
  margin-left: 8%;
}

.aboutbody {
  background-color: #191919;
}

.about {
  width: 100%;
  padding: 78px 0px;
  margin-top: 170px; /* Add margin to create space between navbar and about section */
}

.about img {
  height: auto;
  width: 400px;
}

.abt-text {
  width: 500px;
}

.abt-text h1 {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.abt-text h1 span {
  color: #40d3dc;
  letter-spacing: 1px;
}

.abt-text p {
  color: white;
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn {
  display: inline-block;
  background-color: #40d3dc;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}

.connectbtn:hover {
  background-color: transparent;
  border: 2px solid #40d3dc;
  transform: scale(1.1);
}

.connect-section {
  margin-top: 26px;
}

.social-icons a {
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 30px;
  color: #101010;
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/*Footer*/
.footer {
  margin-top: 80px;
  background-color: #36acb3;
  padding: 20px 0; /* Adjusted padding */
}

.foot {
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footlinks h4 {
  margin-top: 30px;
  font-size: 18px; /* Adjusted font size */
  font-weight: 600;
  color: white;
  margin-bottom: 15px; /* Adjusted margin */
  position: relative;
}

.footlinks h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px; /* Adjusted width */
  left: 0;
  bottom: -7px;
  background: #fff;
}

.footlinks ul li {
  margin-bottom: 10px; /* Adjusted margin */
}

.footlinks ul li a {
  font-size: 16px; /* Adjusted font size */
  color: #f0eded;
  display: block;
  transition: ease 0.3s;
}

.footlinks ul li a:hover {
  transform: translate(6px);
  color: white;
}

.social a {
  font-size: 20px; /* Adjusted font size */
  margin: 2px; /* Adjusted margin */
  height: 30px; /* Adjusted height */
  width: 30px; /* Adjusted width */
  color: rgb(31, 116, 116);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}

.end {
  text-align: center;
  padding-top: 40px; /* Adjusted padding */
  padding-bottom: 8px; /* Adjusted padding */
}

.end p {
  font-size: 13px; /* Adjusted font size */
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}

.deskripsi {
  text-align: justify;
  padding: 300px 0px 0px 0px;
  margin-top: 10px;
}

.deskripsi h1{
  text-align: left;
  font-size: 50px;
}

.padar {
  background: url("images/pulaupadar.jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.kelingking{
  background: url("images/kelingking_2.png");
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.loggiinn{
  background: #020410;
}
.bglogin{
  width: 100%;
  height: 100vh;
  background: url(images/login.jpg) no-repeat;
  background-size: cover;
  filter: blur(10px);
}
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 750px;
  background: url(images/login.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
}

.login .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background: transparent;
  padding: 175px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.login .logreg-box{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 65%);
  height: 100%;
  overflow: hidden;
}

.text-sci h1{
  font-size: 40px ;
}

.text-sci p{
  font-size: 16px;
  margin: 20px 0px;
}

.logreg-box .form-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.logreg-box .form-box.log{
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s;
}

.logreg-box.active .form-box.log{
  transform: translateX(430px);
  transition-delay: 0s;
}

.logreg-box .form-box.regist{
  transform: translateX(430px);
  transition: transform .6s ease;
  transition-delay: 0s;
}

.logreg-box.active .form-box.regist{
  transform: translateX(0px);
  transition-delay: .7s;
}

.form-box h2{
  font-size: 32px;
  text-align: center;
}

.form-box .input-box{
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-right: 28px;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}
 
.linkabout{
  color: white;
}
.input-box .loggg{
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}

.buttoonn{
  width: 100%;
  height: 45px;
  background: rgb(175, 175, 175);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.form-box .log-regist{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.log-regist p a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.log-regist p a:hover{
  text-decoration: underline;
}